
.qwe {
  padding-top: 10px;
  background: url(/images/fon1.jpg) ;
  display: flex;
  flex-direction: column;
  margin: auto;

  & > div {
    width: 95%;
    margin: 15px;

    & > div {
      width: 100%;
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  &__picker-button-wrapper button {
    padding: 5px 10px;
  }
  .headline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    text-align: center;
  }
  .divButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
      margin: 20px;
      cursor: pointer;
      color: rgb(8, 8, 8);;
      border-radius: 10px;
      text-decoration: none; 
      user-select: none; 
      background: #CC9999;
      padding: .7em 1.5em; 
      outline: none;  
      width: 150px;
    }
  }
}