
body { 
    width: 60%;
}

.dishCook {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 30px;
   background: url(/images/fon1.jpg);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   img {
       display: flex;
       margin: auto;
        width: 400px;
        height: 300px;
        border-radius: 30px;
   }

   .nameDish {
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2em;
   }

   .ingredients {
       display: flex;
       flex-direction: row;
       margin: auto;
       align-content: center;
       font-size: 1.2em;
       .nameIngredients {
         width: 200px;
         text-align: center;
         border-radius: 5px;

       }
       .count {
         width: 100px;
         text-align: center;      
       }   
   }
}




