button {
  margin-top: 40px;
  padding: 5px 5px;
  border-radius: 10px;
  border: 2px solid;
  font: 16px 'Open Sans', sans-serif;
  text-transform: uppercase;
  background: none;
  outline: none;
  cursor: pointer;
  transition: all .5s;

  color: rgb(8, 8, 8);
  border-color:#F2F5A9;
  background-color: #F2F5A9;
  background: linear-gradient(left, #A3F7BF, #A3F7BF) no-repeat;
  background-size: 0% 100%;
  }
  
.pancakes {
  display: flex;
  flex-direction: row;
  //border: 1px solid black;
  align-content: space-between;
  border-radius: 30px;
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 150%;

 img{
    margin: 30px;
    width: 600px;
    height: 350px;
    // border: 1px solid black;
    border-radius: 30px;
  }
  
  .pancakes-info {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    // border: 1px solid black;
    .krest {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-top: 40px;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid;
    font: 16px 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;

    color: rgb(8, 8, 8);
    border-color:#F2F5A9;
    background-color: #F2F5A9;
    background: linear-gradient(left, #A3F7BF, #A3F7BF) no-repeat;
    background-size: 0% 100%;
    }
    button {
    margin-top: 40px;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid;
    font: 16px 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all .5s;

    color: rgb(8, 8, 8);
    border-color:#F2F5A9;
    background-color: #F2F5A9;
    background: linear-gradient(left, #A3F7BF, #A3F7BF) no-repeat;
    background-size: 0% 100%;
    }
  }
}