body {
  background-color: rgb(52, 5, 95);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: black;
  
  // background-color: #F3E2A9;
  // border: 1px solid black;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  // border: 1px solid black;
}
  
  header h3 {
    width: 70%;
    height: 100px;
    color: #3B0B24;
    //background: rgb(247, 160, 46); 
    padding: 1px; 
  //  font-style: Morva;
    font-style: italic;
    font-family: Snell Roundhand, cursive	;
    font-size: 250%;
    // border: 1px solid black;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  header span {
    .cursor{
      cursor: pointer;
    }
    width: 100%;
    height: 60px;
    background: #F2F5A9; 
    // padding: 100px; 
    border-radius: 15px;
    font-family: Snell Roundhand, cursive	;
    font-size: 1.5em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // border: 1px solid black;
  }



.content {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 800;
  font-size: 1.2em;
  .carousel .thumbs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .carousel-slider {
    
      height: 400px;
      width: 100%;
      border-radius: 30px;
      .slider-wrapper {
        height: 100%;
        ul {
          height: 100%;
          li div {
            height: 100%;
            img {
              position: absolute;
              height: 100%;
              width: 900px;
              top: 0;
              left: 0;
              z-index: 2;
            }
            h2, div {
              position: relative;
              z-index: 3;
            }
          }
        }
      } 
  }
}


h2 {
} 

.description {
  margin: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F6CEEC;
  .footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  span {
    width: 100%;
    text-align: center;
  }
}
